TAURI_SIGNING_PRIVATE_KEY_PASSWORD=
TAURI_SIGNING_PRIVATE_KEY=dW50cnVzdGVkIGNvbW1lbnQ6IHJzaWduIGVuY3J5cHRlZCBzZWNyZXQga2V5ClJXUlRZMEl5MWV4Y1VWQURkQk5ibHJzTUtSWU5BbDYyd3JyTEQ4Yk1KSDA0d2xVTEZ0QUFBQkFBQUFBQUFBQUFBQUlBQUFBQTgyVUM3TGJsQzZqZlpmaGhGNTd1MHNoY1VkbnNHOWdxR2NocmhEVmJBOS9tU1RPbTI0VGtxK1oxNE8rMUtFRDBycy91d0wrLzlEaVpXcUlKUTJ2R2JWMnJDSk9RamRJeTRjdlB0S1BHSzIxYWdHc285NERpblVYb2ZVZVNxeWQ1aytLT2hkb1RyajQ9Cg==
VITE_GOOGLE_MAPS_API_KEY=
TWITCH_CLIENT_ID=
TWITCH_USER_ID_MOCK=
TWITCH_CLIENT_ID_MOCK=
TWITCH_CLIENT_SECRET_MOCK=
VITE_WIDY_BASE_DOMAINE=
WIDY_SOL_PROGRAM_ID=
KICK_CLIENT_ID=
KICK_BOT_CLIENT_ID=
KICK_TOKEN_ENDPOINT=
KICK_BOT_TOKEN_ENDPOINT=
KICK_REDIRECT_URI=
KICK_BOT_REDIRECT_URI=
APP_TOKEN=
