.settingsContainer {
	display: grid;
	place-content: center;
	gap: 10px;
}

.settings {
	display: flex;
	place-items: center;
}

.label {
	width: 230px;
}

@media (max-width: 700px) {
	.settings {
		display: grid;
		place-items: start;
	}

	.settingsContainer {
		width: 100%;
	}
}